.home{
  display: flex;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  
}


.item-container{
  display: flex;
  color: white;
  background-color: #2b2727;



}

.item-container p{
  margin: 10px;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.home-row{
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;

}
